{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>

	<div id="container">

		<div id="contents">

			<div id="main">

				<section>

					<h2>恋愛/ラブコメアニメ</h2>

					<h3><a href="https://www.kimiuso.jp/" target="_blank">四月は君の嘘</a></h3>
					<img src="{% static 'syoukai/images/25.png' %}" onclick="expandImage(this)">
					<p>「14歳の春――僕は、君と走りはじめる」からっぽになった少年が一人の少女と出逢う。少女の、自由で情熱的な音楽の調べが、少年の止まっていた時間を突き動かす。
						11歳の冬――早熟の天才ピアニスト・有馬公生は母親を失ったショックから演奏をするとピアノの音が聴こえなくなるというトラウマを背負ってしまう。
						以来、少年は次第にピアノから遠ざかっていく。ピアノと母親を失った彼の日常はモノトーンのように色をなくしてしまっていた。
						そんなある日、公生を子供の頃から見てきた幼なじみ澤部椿は、あるクラスメイトを紹介する。クラスメイトの名前は宮園かをり。
						彼女はコンクールに出場するヴァイオリニストだった。楽譜を超え、自分なりのスタイルで課題曲を演奏するかをり。
						その奔放な演奏を見て、モノトーンだった公生の世界がカラフルに色づきはじめる。
						「暴力上等、性格最低、印象最悪・・・・・・でも、彼女は・・・・・・・・・美しい」。
						音楽が導くボーイ・ミーツ・ガール。情熱的なヴァイオリンの響きが、凍りついたピアノを融かしたとき、2人は豊かなハーモニーを奏でるのだ。</p>

					<h3><a href="https://tv.violet-evergarden.jp/" target="_blank">ヴァイオレット・エヴァーガーデン</a></h3>
					<img src="{% static 'syoukai/images/26.png' %}" onclick="expandImage(this)">
					<p>とある大陸の、とある時代。大陸を南北に分断した大戦は終結し、世の中は平和へ向かう気運に満ちていた。
						戦時中、軍人として戦ったヴァイオレット・エヴァーガーデンは、軍を離れ大きな港町へ来ていた。
						戦場で大切な人から別れ際に告げられた「ある言葉」を胸に抱えたまま――。街は人々の活気にあふれ、ガス灯が並ぶ街路にはトラムが行き交っている。
						ヴァイオレットは、この街で「手紙を代筆する仕事」に出会う。それは、依頼人の想いを汲み取って言葉にする仕事。
						彼女は依頼人とまっすぐに向き合い、相手の心の奥底にある素直な気持ちにふれる。そして、ヴァイオレットは手紙を書くたびに、あの日告げられた言葉の意味に近づいていく。</p>

					<h3><a href="https://koikimo.jp/" target="_blank">恋と呼ぶには気持ち悪い</a></h3>
					<img src="{% static 'syoukai/images/27.png' %}" onclick="expandImage(this)">
					<p>ある雨の日、駅で見知らぬ女子高生に助けられたサラリーマンの天草亮は、その女子高生が妹の親友・有馬一花だと知る。
						女癖の悪い亮は一花に対し、 お礼にとキスやデートを提案するが、「気持ち悪い」と一蹴されてしまう。
						だが、それは亮の中の新たな扉を開いてしまい、彼女に狂信的な恋をする。その日以来、直球すぎるアプローチと愛情表現を毎日のように繰り広げる亮。
						それをひたすら気持ち悪がる一花は彼を容赦なく罵倒するが、いつも愛情表現の裏返しとして 受け取られてしまう……。</p>

					<h3><a href="https://kaguya.love/1st/" target="_blank">かぐや様は告らせたい～天才たちの恋愛頭脳戦～</a></h3>
					<img src="{% static 'syoukai/images/28.png' %}" onclick="expandImage(this)">
					<p>家柄も人柄も良し!!将来を期待された秀才が集う秀知院学園!!その生徒会で出会った、
						副会長・四宮かぐやと会長・白銀御行は互いに惹かれているはずだが…何もないまま半年が経過!!プライドが高く素直になれない2人は、
						面倒臭いことに“如何に相手に告白させるか”ばかりを考えるようになってしまった!?恋愛は成就するまでが楽しい!!新感覚“頭脳戦”ラブコメ、開戦!!</p>

					<h3><a href="https://wotakoi-anime.com/" target="_blank">ヲタクに恋は難しい</a></h3>
					<img src="{% static 'syoukai/images/29.png' %}" onclick="expandImage(this)">
					<p>26歳の会社員・桃瀬成海は、男性同士の恋愛ストーリーが好きなことを周囲に隠していた。
						自身の趣味が知られることを恐れていた成海だったが、転職先で大のゲーム好きで幼なじみの二藤宏嵩と再会する。
						自らの性癖を隠すことなく趣味を語り合える友達を得て、毎晩のように居酒屋で話に花を咲かす成海。
						そんなある日、宏嵩から2人で付き合うことのメリットを説かれた成海は、彼との交際を始める。</p>

					<h3><a href="http://clarines-kingdom.com/" target="_blank">赤髪の白雪姫</a></h3>
					<img src="{% static 'syoukai/images/30.png' %}" onclick="expandImage(this)">
					<p>林檎のような赤髪の娘、白雪。その珍しさを気に入ったラジ王子の愛妾にされかかり、生まれ育った国を出ることに。
						隣国の森に辿り着き、そこで出会い、力を貸してくれたのはクラリネス王国の第二王子・ゼン。
						これは出会った二人が互いの手をとり、様々な人との出会いの中で足音を重ね、道を行く物語――。
					</p>

					<h3><a href="https://takagi3.me/1st/" target="_blank">からかい上手の高木さん</a></h3>
					<img src="{% static 'syoukai/images/31.png' %}" onclick="expandImage(this)">
					<p>「今日こそは必ず高木さんをからかって恥ずかしがらせてやる！」
						とある中学校、隣の席になった女の子・高木さんに何かとからかわれる男の子・西片。
						高木さんをからかい返そうと日々奮闘するが…？
						そんな高木さんと西片の、全力“からかい”青春バトルがスタート！</p>

					<h3><a href="https://anime.shochiku.co.jp/sukimega/" target="_blank">好きな子がめがねを忘れた</a></h3>
					<img src="{% static 'syoukai/images/32.png' %}" onclick="expandImage(this)">
					<p>ちょっぴり奥手な中学生男子の小村くんは、めがねをかけた隣の席の女の子、三重さんのことが好きである。
						「その分厚いレンズ越しでいい。三重さんのきれいな目に見つめられてみたい。」
						不思議な魅力を持つ三重さんに惹かれつつも、話しかけることさえできないまま日々を過ごしていた。
						そんな三重さんはいつもめがねを忘れてしまうド天然女子。
						隣の席になった小村くんは、困っている三重さんをサポートしようと奮闘するが、
						そんな想いとは裏腹に一生懸命何かを見ようとする三重さんとの距離が近すぎてドキドキが止まらず・・！？
					</p>

					<h3><a href="https://bokuyaba-anime.com/" target="_blank">僕の心のヤバイやつ</a></h3>
					<img src="{% static 'syoukai/images/33.png' %}" onclick="expandImage(this)">
					<p>市川京太郎は殺人にまつわる猟奇本を愛読する、重度の中二病男子。同じクラスの美少女・山田杏奈をチラチラと見ては、ヤバめな妄想を繰り返していた。
						そんなある日、山田が市川の聖域・図書室にやってくる。一人だと思い込み、大口でおにぎりを頬張ったり、機嫌よく鼻歌を歌ったりと、思うままに振る舞う山田。
						予測不能な行動を繰り出す姿に、市川は徐々に目が離せなくなっていき……。</p>

					<h3><a href="https://shikimori-anime.com/" target="_blank">可愛いだけじゃない式守さん</a></h3>
					<img src="{% static 'syoukai/images/34.png' %}" onclick="expandImage(this)">
					<p>最高の“イケメン彼女”現る！不幸体質の男子高校生・和泉くんの彼女は、同級生の式守さん。
						笑顔が素敵で優しくて、和泉くんと一緒にいるときはいつも幸せそう。可憐で可愛い、愛情たっぷりの彼女だけど、
						和泉くんがピンチになったりすると……最高にカッコいい、“イケメン彼女”に大変身！可愛い×カッコいいに溢れた式守さんと
						和泉くんや仲良しフレンズによる楽しい日常は止まらない！尊さ1000％ラブコメ、いよいよスタート！</p>




				</section>

			</div>
			<script>
				// 画像を拡大表示するJavaScript関数
				function expandImage(imgElement) {
					// クリックされた画像のsrc属性を取得
					var imgSrc = imgElement.src;

					// モーダルを表示するためのdiv要素を作成
					var modal = document.createElement('div');
					modal.className = 'modal';
					modal.style.display = 'block';

					// 拡大表示される画像を表示するためのimg要素を作成
					var modalImg = document.createElement('img');
					modalImg.src = imgSrc;

					// 拡大表示される画像をクリックしたらモーダルを閉じる
					modalImg.onclick = function () {
						modal.style.display = 'none';
					};

					// モーダルに画像を追加
					modal.appendChild(modalImg);

					// モーダルをbody要素に追加
					document.body.appendChild(modal);
				}
			</script>
</body>

</html>
{% endblock %}