{% extends 'base.html' %}
{% load static %}

{% block content %}



<body>

	<div id="container">



		<div id="contents">

			<div id="main">

				<section>

					<h2>バトル/ファンタジーアニメ</h2>

					<h3><a href="https://one-piece.com/anime/index.html" target="_blank">ONE PIECE</a></h3>
					<img src="{% static 'syoukai/images/05.png' %}" onclick="expandImage(this)">
					<p>かつて、この世の全てを手に入れた男がいた。その名は海賊王ゴールド・ロジャー。
						遥かな大海原グランドラインには、彼が遺した“ひとつなぎの大秘宝(ワンピース)”が隠されているという・・・。
						伝説の秘宝を求め、人々は競うように海へと漕ぎ出してゆく。そして、ここにもグランドラインを目指す者が一人。
						悪魔の実と呼ばれる不思議な実の一つ｢ゴムゴムの実｣を食べ、全身がゴムのように伸びるゴム人間になった
						モンキー・D・ルフィだ。幼い頃に赤髪のシャンクスから麦わら帽子を託された彼は、海賊王になるという壮大な野望を抱いていた。
						海へと乗り出したルフィは、航海の中で大冒険を繰り返し、様々な人々と出会ってゆく。
						信頼できる個性的な仲間、悪党どもや海軍など立ちふさがる強大な敵・・・さあ、まだ見ぬ世界へ向けて帆を立てろ！</p>

					<h3><a href="https://www.ntv.co.jp/hunterhunter/" target="_blank">HUNTER×HUNTER</a></h3>
					<img src="{% static 'syoukai/images/06.png' %}" onclick="expandImage(this)">
					<p>くじら島で暮らす少年・ゴンの夢は、幼い頃に別れた父と同じ｢ハンター｣になること。
						世界中に散らばる、財宝、秘宝、珍品、珍獣……｢未知｣への挑戦に命を賭けるプロハンターになる決意を胸に旅立つゴンは、
						同じハンター試験合格を目指す受験者のクラピカ、レオリオ、キルアと出会う。超難関で知られるハンター試験を見事突破し、
						｢世界一のハンター｣になれるのか！? ゴンの奇想天外、壮大苛烈な冒険の旅が、今始まる！！</p>

					<h3><a href="https://tounomamare.com/log_anime" target="_blank">ログ・ホライズン</a></h3>
					<img src="{% static 'syoukai/images/07.png' %}" onclick="expandImage(this)">
					<p>ゲームの世界と現実が逆転。内気な青年の異世界変革アドベンチャー。これが、僕たちのリアル。
						ある日突然、老舗オンラインゲーム＜エルダー・テイル＞に日本人ユーザー３万人が閉じ込められてしまった。
						ゲーム歴８年の大学院生・シロエも異世界に取り残されてしまう。モンスターとの戦闘、死ぬことのない境遇。
						何が起きたのかわからず不安に駆られたプレーヤーが街にあふれ、ヤマト地区最大の都市＜アキバ＞は秩序を失う。
						一匹狼を自負していたシロエは、旧友・直継、美少女アサシン・アカツキたちとギルド＜ログ・ホライズン＞を設立。
						他人と接することが苦手で内気な青年が仲間とともに廃墟アキバから世界を変えようと立ち上がる。</p>

					<h3><a href="https://www.ten-sura.com/anime/tensura" target="_blank">転生したらスライムだった件</a></h3>
					<img src="{% static 'syoukai/images/08.png' %}" onclick="expandImage(this)">
					<p>サラリーマン三上悟は通り魔に刺され死亡し、気がつくと異世界に転生していた。
						ただし、その姿はスライムだった！リムルという新しいスライム人生を得て、
						さまざまな種族がうごめくこの世界に放り出され、
						「種族問わず楽しく暮らせる国作り」を目指すことになる――！</p>

					<h3><a href="https://www.ansatsu-anime.com/" target="_blank">暗殺教室</a></h3>
					<img src="{% static 'syoukai/images/09.png' %}" onclick="expandImage(this)">
					<p>ある日突然、月が爆発して7割方蒸発した。その犯人と称し、しかも来年三月には地球をも爆破するという超生物がやってきたのは、何故か中学校の教室。
						なんとここで教師をするというのだ。人知を超えた能力を持ち、軍隊でも殺せないその怪物の暗殺を、各国首脳はやむをえず、そのクラス、
						椚ヶ丘中学校3年E組の生徒に委ねることになる。なんと成功報酬は百億円。落ちこぼれクラス、
						「エンドのE組」の生徒たちは、卒業までにこの暗殺対象の教師、「殺せんせー」を殺せるのか・・・！？</p>

					<h3><a href="https://kamuy-anime.com/" target="_blank">ゴールデン・カムイ</a></h3>
					<img src="{% static 'syoukai/images/10.png' %}" onclick="expandImage(this)">
					<p>明治時代後期。「不死身の杉元」の異名を持つ日露戦争の英雄・杉元佐一は、ある目的のために大金を手に入れるべく北海道にいた。
						そこにアイヌから奪われた莫大な埋蔵金という、一攫千金のチャンスが舞い込む。埋蔵金は網走監獄に収監中の男によって隠匿され、
						24人の脱獄囚の身体に刻まれた刺青がその在り処を示す手がかりだという。そんな折、ヒグマの襲撃を受けた杉元を、ひとりのアイヌの少女が救う。
						名をアシㇼパというその少女は、埋蔵金を奪った男に父親を殺されていた。さらに杉元の動きに呼応するように、
						かねてより埋蔵金を狙って暗躍していた北の最強部隊・第七師団や刺青を背負う脱獄囚たちの動きも顕在化。果たして、
						雄大な北の大地を舞台に巻き起こった一攫千金サバイバルの行方は……!?</p>


					<h3><a href="https://jujutsukaisen.jp/" target="_blank">呪術廻戦</a></h3>
					<img src="{% static 'syoukai/images/11.png' %}" onclick="expandImage(this)">
					<p>少年は戦う――「正しい死」を求めて　辛酸・後悔・恥辱　人間が生む負の感情は呪いと化し日常に潜む　呪いは世に蔓延る禍源であり、最悪の場合、
						人間を死へと導く　そして、呪いは呪いでしか祓えない　驚異的な身体能力を持つ、少年・虎杖悠仁はごく普通の高校生活を送っていたが、
						ある日“呪い”に襲われた学友を救うため、特級呪物“両面宿儺の指”を喰らい、
						己の魂に呪いを宿してしまう　呪いである“両面宿儺”と肉体を共有することとなった虎杖は、最強の呪術師である五条 悟の案内で、
						対呪い専門機関である「東京都立呪術高等専門学校」へと編入することになり.....呪いを祓うべく呪いを宿した少年の後戻りのできない、
						壮絶な物語が廻りだす―</p>

					<h3><a href="https://shingeki.tv/final/" target="_blank">進撃の巨人</a></h3>
					<img src="{% static 'syoukai/images/12.png' %}" onclick="expandImage(this)">
					<p>巨人がすべてを支配する世界。巨人の餌と化した人類は高さ50メートルの巨大な壁を築き、壁外への自由と引き換えに侵略を防いでいた…。
						まだ見ぬ壁外の世界を夢見る10歳の少年、エレン・イェーガー。エレンは仮初めの平和に満足し外の世界へ出ることを諦めた人々に違和感を覚える。
						彼らを｢家畜｣と呼ぶエレン。エレンを｢異物｣と感じる人々。だが、壁をも越える超大型巨人の出現により、エレンの｢夢｣も人々の｢平和｣も突如として崩れ去ってしまう……。
					</p>

					<h3><a href="https://heroaca.com/" target="_blank">僕のヒーローアカデミア</a></h3>
					<img src="{% static 'syoukai/images/13.png' %}" onclick="expandImage(this)">
					<p>ことの始まりは中国・軽慶市から発信された、｢発光する赤児｣が生まれたというニュース。
						以後各地で｢超常｣が発見され、原因も判然としないまま時は流れる――。世界総人口の八割が何らかの特異体質である超人社会となった現在。
						生まれ持った超常的な力“個性”を悪用する犯罪者・敵(ヴィラン)が増加の一途をたどる中、同じく“個性”を持つ者たちが“ヒーロー”
						として敵や災害に立ち向かい、人々を救(たす)ける社会が確立されていた。かつて誰もが空想し憧れた“ヒーロー”。
						それが現実となった世界で、ひとりの少年・緑谷 出久(みどりや・いずく/通称 デク)もヒーローになることを目標に、名だたるヒーローを多く輩出する雄英高校への入学を目指していた。
						しかし、デクは総人口の二割にあたる、何の特異体質も持たない“無個性”な落ちこぼれだった…。ある日、デクは自身が憧れてやまないヒーローと出会い、
						それを機に運命を大きく変えていくことになる。友、師匠、ライバル、そして敵…。さまざまな人物、多くの試練と向き合いながら、デクは最高のヒーローになるべく成長していく。</p>

					<h3><a href="https://www.toei-anim.co.jp/tv/wt/" target="_blank">ワールドトリガー</a></h3>
					<img src="{% static 'syoukai/images/14.png' %}" onclick="expandImage(this)">
					<p>三門市。人口28万人。ある日この町に異世界への門が開いた。｢近界民(ネイバー)｣後にそう呼ばれる異次元からの侵略者が門付近の地域を蹂躙、街は恐怖に包まれた。
						近界民に地球上の兵器は効果が薄く、都市の壊滅は時間の問題と思われた。しかし、その時突如現れた謎の一団が近界民を撃退。近界民の技術を独自に研究し、
						｢こちら側｣の世界を守るため戦う組織、界境防衛機関｢ボーダー｣。彼らはわずかな期間で巨大な基地を作り上げ、近界民に対する防衛体制を整えた。それから4年。
						門は依然として開いているにも拘わらず、三門市を出て行く人間は驚くほど少ない。中学生の三雲修もまた、ボーダーに所属していた。
						ある日、修のクラスに転校生がやってきた。空閑遊真と名乗った少年は、何故かボーダーの人間にのみ携帯を許される｢トリガー｣と呼ばれる武器を持っていた。
						修に問いただされた遊真は言う。『俺は門の向こうの世界から来た。お前らが言うとこの｢近界民｣ってやつだ』遊真と修、二人の物語が動き始める。</p>


				</section>
			</div>
			<!--/#main-->
			<script>
				// 画像を拡大表示するJavaScript関数
				function expandImage(imgElement) {
					// クリックされた画像のsrc属性を取得
					var imgSrc = imgElement.src;
			
					// モーダルを表示するためのdiv要素を作成
					var modal = document.createElement('div');
					modal.className = 'modal';
					modal.style.display = 'block';
			
					// 拡大表示される画像を表示するためのimg要素を作成
					var modalImg = document.createElement('img');
					modalImg.src = imgSrc;
			
					// 拡大表示される画像をクリックしたらモーダルを閉じる
					modalImg.onclick = function() {
						modal.style.display = 'none';
					};
			
					// モーダルに画像を追加
					modal.appendChild(modalImg);
			
					// モーダルをbody要素に追加
					document.body.appendChild(modal);
				}
			</script>


</body>

</html>

{% endblock %}