{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>

	<div id="container">



		<div id="contents">

			<div id="main">

				<section>
					<h2>その他ジャンルアニメ</h2>

					<h3><a href="https://haikyu.jp/" target="_blank">ハイキュー!!</a></h3>
					<img src="{% static 'syoukai/images/35.png' %}">
					<p>おれは飛べる!!　バレーボールに魅せられ、中学最初で最後の公式戦に臨んだ日向翔陽。だが、「コート上の王様」と異名を取る天才選手・影山に惨敗してしまう。
						リベンジを誓い烏野高校バレー部の門を叩く日向だが!?</p>

					<h3><a href="http://ngnl.jp/tv/" target="_blank">ノーゲーム・ノーライフ</a></h3>
					<img src="{% static 'syoukai/images/36.png' %}">
					<p>ニートでヒキコモリ……だがネット上では｢ ｣(くうはく)の名で無敗を誇る天才ゲーマー兄妹・空(そら)と白(しろ)。
						ただの都市伝説とまで言われるほどの常識外れな腕前を持った空と白の前に、ある日“神”を名乗る少年・テトが現れる。
						テトはリアルをクソゲーと呼ぶ空と白の二人を異世界へと召喚してしまう。そこは一切の争いが禁じられ、全てがゲームで決まる世界だった！
						異世界に住まう十六の種族の中で最弱の人類種(イマニティ)。
						他種族に国土の大部分を奪われ、滅亡寸前に追い込まれている人類種を救うため、空と白は空前絶後の頭脳バトルに挑む！</p>

					<h3><a href="http://www.natsume-anime.jp/" target="_blank">夏目友人帳</a></h3>
					<img src="{% static 'syoukai/images/37.png' %}">
					<p>妖(あやかし)を目に映すことができたため人間に疎まれた夏目レイコは、その寂しさからか、妖たちに勝負を挑み、隷属させる証として名前を書かせたという。
						その契約書の束｢友人帳｣を手にした孫の夏目貴志もまた、レイコの力を受け継ぎ、人にあらざるものを見ることができた。
						そして、レイコと同じように、周囲から疎まれる存在でもあった。しかし、唯一の血縁であるレイコの遺したものを大事に想い、
						レイコが奪った名を妖たちに返すことを決める。そんな夏目の元にはいつしか様々な妖たちが集い始め・・・妖を見ることができる少年・夏目貴志と、
						招き猫の姿をした妖・ニャンコ先生とが繰り広げる、妖しく、切なく、懐かしい 感涙のあやかし譚。</p>

					<h3><a href="http://konosuba.com/1st/" target="_blank">この素晴らしい世界に祝福を！</a></h3>
					<img src="{% static 'syoukai/images/38.png' %}">
					<p>ゲームをこよなく愛するひきこもり・佐藤和真(カズマ)の人生は、交通事故(！？)によりあっけなく幕を閉じた……はずだった｡だが、
						目を覚ますと女神を名乗る美少女・アクアは告げた｡｢ねぇ、ちょっといい話があるんだけど｡異世界に行かない？1つだけあなたの好きなものを持って行っていいわよ｣
						｢……じゃあ、あんたで｣RPGゲームのような異世界で、憧れの冒険者生活エンジョイ！めざせ勇者！……と舞い上がったのも束の間、
						異世界に転生したカズマの目下緊急の難問は、生活費を工面することだった！しかも、トラブルメーカーの駄女神・アクア、中二病をこじらせた魔法使い・めぐみん、
						妄想ノンストップな女騎士・ダクネスという、能力だけは高いのにとんでもなく残念な3人とパーティを組むことになって、
						さらなるカズマの受難は続く｡そして、カズマ達パーティはついに魔王軍にも目をつけられて―――！？平凡な冒険者・カズマが過ごす異世界ライフの明日はどっち！？</p>

					<h3><a href="https://tv.anime-eupho.com/" target="_blank">響け！ユーフォニアム</a></h3>
					<img src="{% static 'syoukai/images/39.png' %}">
					<p>高校１年生の春。中学時代に吹奏楽部だった黄前久美子は、クラスメイトの加藤葉月、川島緑輝とともに吹奏楽部の見学に行く。
						そこで久美子は、かつての同級生・高坂麗奈の姿を見かける。葉月と緑輝は吹奏楽部への入部を決めたようだったが、まだ踏み切れない久美子。
						思い出すのは、中学の吹奏楽コンクールでの麗奈との出来事だった。</p>

					<h3><a href="https://www.nhk-character.com/chara/iruma/" target="_blank">魔入りました！入間くん</a></h3>
					<img src="{% static 'syoukai/images/40.png' %}">
					<p>頼み事を断れない、お人好しの少年・鈴木入間は、ひょんなことから魔界の大悪魔・サリバンの孫になってしまう！　溺愛される入間は、
						彼が理事長を務める悪魔学校に通うことに…。人間の正体を隠しつつ、平和な学園生活を送りたいと願うも、なぜか入間はいつも注目の的。
						エリート悪魔にケンカを売られ、珍獣系（？）女子悪魔になつかれ、さらに厳格な生徒会長に目をつけられてしまう！　
						次々に起こるトラブルを入間は持ち前の優しさで乗り越えていく！</p>

					<h3><a href="https://cooldoji-pr.com/" target="_blank">クールドジ男子</a></h3>
					<img src="{% static 'syoukai/images/41.png' %}">
					<p>一際目を引くクールでかっこいい男子たち。どこか近寄りがたいけど…彼らは“全員ドジ”だった
						！財布を忘れたり、電車でイヤホンを付けず音楽を流したり、コンタクトなのにメガネを上げる、
						仕草をしたり、曲がるストローだと気付かず逆に刺して使ったり、傘と間違えて靴べらを持ち歩いたり――そんなドジさえもクールにキメてしまう、
						それが「クールドジ男子」。ドジもするけど等身大で頑張る彼らの日常譚</p>

					<h3><a href="http://yorimoi.com/" target="_blank">宇宙よりも遠い場所</a></h3>
					<img src="{% static 'syoukai/images/42.png' %}">
					<p>そこは、宇宙よりも遠い場所──。何かを始めたいと思いながら、中々一歩を踏み出すことのできないまま高校2年生になってしまった少女
						・玉木マリ(たまき・まり)ことキマリは、とあることをきっかけに南極を目指す少女・小淵沢報瀬(こぶちざわ・しらせ)と出会う。
						高校生が南極になんて行けるわけがないと言われても、絶対にあきらめようとしない報瀬の姿に心を動かされたキマリは、報瀬と共に南極を目指すことを誓うのだが……。
					</p>

					<h3><a href="https://darwins-game.com/" target="_blank">ダーウィンズゲーム</a></h3>
					<img src="{% static 'syoukai/images/43.png' %}">
					<p>平凡な高校生である須藤 要のもとに見知らぬアプリ「ダーウィンズゲーム」の招待メールが届く。
						アプリを起動させてしまったカナメは、プレイヤー同士が異能(シギル)を駆使して戦うゲームに巻き込まれてしまう。
						わけもわからぬまま、襲い来る強力なプレイヤーとのバトルを切り抜け、カナメは生き残ることが出来るのか!?</p>

					<h3><a href="https://gakkougurashi.com/" target="_blank">がっこうぐらし！</a></h3>
					<img src="{% static 'syoukai/images/44.png' %}">
					<p>シャベルを愛する(?)くるみ、皆をまとめるりーさん、しっかり者の後輩みーくん、おっとりした顧問のめぐねえらに囲まれた丈槍ゆきの瞳に映る幸せな“日常”はしかし……!?</p>

				</section>

			</div>
			<!--/#main-->
			<script>
				// 画像を拡大表示するJavaScript関数
				function expandImage(imgElement) {
					// クリックされた画像のsrc属性を取得
					var imgSrc = imgElement.src;
			
					// モーダルを表示するためのdiv要素を作成
					var modal = document.createElement('div');
					modal.className = 'modal';
					modal.style.display = 'block';
			
					// 拡大表示される画像を表示するためのimg要素を作成
					var modalImg = document.createElement('img');
					modalImg.src = imgSrc;
			
					// 拡大表示される画像をクリックしたらモーダルを閉じる
					modalImg.onclick = function() {
						modal.style.display = 'none';
					};
			
					// モーダルに画像を追加
					modal.appendChild(modalImg);
			
					// モーダルをbody要素に追加
					document.body.appendChild(modal);
				}
			</script>



</body>

</html>
{% endblock %}